<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <!--css 추가가 되지않아 동적으로 추가해줌. -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<div layout:fragment="content">
    <div>
        <form action="/board/posts/paging/search" method="GET">
            <input name="keyword" type="search" placeholder="키워드를 입력해주세요">
            <input type="submit" value="검색">
        </form>
    </div>
    <div style="text-align:center">
        <div>
            <table>
                <tr>
                    <th >번호</th>
                    <th >제목</th>
                    <th >이름</th>
                    <th >등록일</th>
                    <th >조회수</th>
                </tr>
                <tr th:each="board : ${boardpages}">
                    <td th:text="${board.id}" th:class="no">1</td>
                    <td><a th:href="@{|/board/read/${board.id}|}" th:text="${board.title}">없습니다.</a></td>
                    <td th:text="${board.user.id}">없습</td>
                    <td th:text="${#dates.format(board.upDate,'yyyy-MM-dd')}">2020-01-30</td>
                    <td th:text="${board.viewCnt}" th:class="viewcnt">999</td>
                </tr>
            </table>

            <br>
            <!-- 첫번째 페이지로 이동 -->

            <a th:href="@{/board/posts/paging(page=1)}">첫 페이지 </a>

            <!-- 이전 링크 활성화 비활성화 '#'은 의미 없는 링크로 하도록인거 같다. -->
            <!-- https://velog.io/@muchogusto/a-href-%EB%AC%B4%EC%97%87%EC%9D%84-%EC%9D%98%EB%AF%B8-->
            <a th:href="${boardpages.first} ? '#' : @{/board/posts/paging(page=${boardpages.number})}"> 이전 </a>

            <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                    for(int page=startPage; page<=endPage; page++)-->
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <span th:if="${page!=0}">
                    <!-- 현재페이지는 링크 없이 숫자만  page가 boardpages.number+1이 될 때까지 밑에 페이지 선택 숫자 생성. get으로 page넘겨줌. -->
                        <span th:if="${page == boardpages.number + 1}" th:text="${page}"></span>
                    <!-- 현재페이지 링크 X, 다른 페이지번호에는 링크를 보여준다 -->

                        <span th:unless="${page == boardpages.number + 1}">
                            <a th:href="@{/board/posts/paging(page=${page})}" th:text="${page}"></a>
                        </span>
                    </span>
                </span>

                <!-- 다음 링크 활성화 비활성화 -->
                    <a th:href="${boardpages.last} ? '#' : @{/board/posts/paging(page=${boardpages.number + 2})}"> 다음 </a>

                    <!-- 마지막 페이지로 이동 -->
                    <a th:href="${boardpages.isLast()} ? '#': @{/board/posts/paging(page=${boardpages.totalPages})}"> 마지막 페이지</a>
                    <br>
                    <button id="writeBtn" onclick="location.href='/board/write'"><i></i> 글쓰기</button>
        </div>
    </div>

</div>
</body>
</html>

