<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
<h1 th:text="${param.msg}"></h1>
<form action="/login/login" method="POST">
    id:<br>
    <input type="text" name="id"><br>
    pwd:<br>
    <input type="password" name="pwd"><br>
    <input type="submit" value="로그인">
</form>
</div>
</body>
</html>
